:root {
    --primary-color: #DB554F;
    --secondary-color: 	#E08352; 
    --background-color: #000000;
    --highlight-color: #00E66F; 
    --text-color: #FFFFFF;
    
    --extra-color1: #72E5E5;
    --extra-color2: #2FC6E0;
    --extra-color3: #F9F4EE;
 }
 